body {
    background: #e7e9ef;
}

/* Bootstrap Overwrite */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background: #d9dfe4;
}
li.list-group-item.active a:first-child,
li.list-group-item.active:hover a:first-child,
li.list-group-item.active:focus a:first-child,
li.list-group-item a:first-child {
    color: #333;
}

li.list-group-item:hover {
    background: #f5f5f5;
}

.table > thead > tr > th {
    white-space: nowrap;
}

.navbar-inverse #navbar-mobile.navbar-collapse {
    border-color: #ced2d7;
}

.form-inline .form-group {
    margin-right: 10px !important;
}
.modal-dialog.modal-xl {
    width: 85%;
}
/* Bootstrap Overwrite End */

.sidebar-user-material-content > a {
    cursor: default;
}



#loading-image {
    position: fixed;
    top: 54px;
    right: 0;
    z-index: 999;
    display: none;
    color: #fff;
    background: #5090c1;
    padding: 11px 15px 11px 11px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sidebar-main .version-info {
    color: #333333;
}

.sidebar-control {
    float: left;
    padding: 10px 12px;
    color: #666;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    margin: 6px 0 6px 20px;
    background: #f3f3f3;
}

label.radio {
    font-weight: normal;
    text-transform: none;
}
.navbar-brand {
    padding: 5px 20px;
}
.navbar-brand > img {
    height: 35px;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #666;
}

#navbar-mobile .form-group,
#navbar-mobile form {
    margin-bottom: 0;
    height: 50px;
    margin-left: 15px;
}

#navbar-mobile.navbar-collapse .navbar-nav {
    padding: 0;
}
#navbar-mobile.navbar-collapse .navbar-nav li {
    border-bottom: 1px solid #e0e0e0;
}
#navbar-mobile.navbar-collapse .navbar-nav li:last-child {
    border-bottom: 0;
}

.breadcrumb-line {
    box-shadow: none;
    -moz-box-shadow: none;
}
.breadcrumb-line:not([class*="bg-"]) {
    background-color: #5090c1;
    color: #fff;
}

.breadcrumb-elements .form-group {
    margin-bottom: 0;
    margin-left: 15px;

}

.breadcrumb-elements .form-group form {
    margin-bottom: 0;
}

#navbar-mobile .form-group .select2-container {
    margin-top: 5px;
    min-width: 80px;
}
.breadcrumb-elements .form-group .select2-container {
    min-width: 80px;    
}

.select2-dropdown {
    min-width: 100px;
}

.fileUpload input[type="file"] {
    display: none;
}

.upload-pic {
    width: 100%;
}


.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.days-check div.checkbox {
    padding: 0;
}

#navbar-mobile .select2-selection.select2-selection--single,
.breadcrumb-elements .select2-selection.select2-selection--single{
    border-bottom: 0;
    box-shadow: 0 0 0;
}

.seat-count {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    padding: 6px 8px;
    width: 40px;
}

.sidebar-main {
    z-index: 10;
}

/*div.form-control {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}*/

#LOx_layer {
    display: none !important;
}

/* Custom Calendar Design  */
.calendar-title {
    display: inline-block;
    font-size: 18px;
}

.calendar-event {
    background: #edf9ff;
}

.calendar-holiday {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff3f5+19,ffdde3+100 */
    background: rgb(255,243,245); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,243,245,1) 19%, rgba(255,221,227,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,243,245,1) 19%,rgba(255,221,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,243,245,1) 19%,rgba(255,221,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3f5', endColorstr='#ffdde3',GradientType=0 ); /* IE6-9 */

}

.calendar-active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e7ecef+12,ccdbe5+95,c9d5dd+100 */
    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(231,236,239,1) 12%, rgba(204,219,229,1) 95%, rgba(201,213,221,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(231,236,239,1) 12%,rgba(204,219,229,1) 95%,rgba(201,213,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(231,236,239,1) 12%,rgba(204,219,229,1) 95%,rgba(201,213,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#c9d5dd',GradientType=0 ); /* IE6-9 */
}
.table-bordered.table-calendar > thead > tr > th,
.table-bordered.table-calendar > tbody > tr > th,
.table-bordered.table-calendar > tfoot > tr > th,
.table-bordered.table-calendar > thead > tr > td,
.table-bordered.table-calendar > tbody > tr > td,
.table-bordered.table-calendar > tfoot > tr > td {
    border-color: #b5b9bf;
}
.calendar_header th {
    width: 14.28%;
}


/* Nav Pills */
.nav-pills.nav-pills-primary {
    
}
.nav-pills.nav-pills-primary li a {
    text-transform: none;
}
.nav-pills.nav-pills-primary li.active a {
    background: #5090c1;
}
.panel-body > .nav-pills li a {
    border-radius: 0
}

/* Footer Styles */
.footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d5db+0,e7e9ef+100 */
    background: #d3d5db; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d5db 0%, #e7e9ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d3d5db 0%,#e7e9ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d3d5db 0%,#e7e9ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d5db', endColorstr='#e7e9ef',GradientType=0 ); /* IE6-9 */
    box-shadow: none;
    -moz-box-shadow: none;
    z-index: 9;
}

@media (max-width: 768px) {
    #navbar-mobile .form-group, #navbar-mobile form {
        margin-left: 0;
    }
    #navbar-mobile .nav.navbar-nav .form-group .select2-container {
        padding-left: 20px !important;
        padding-right: 12px !important;
    }

    .sidebar-main {
        position: fixed;
        height: 100%;
        width: 80%;
        top: 0;
        left: -100%;
        transition: all 0.3s ease;
        background: #5090C1;
        z-index: 999;
        overflow-y: auto;
    }
    .sidebar .sidebar-content {
        box-shadow: none;
    }
    .sidebar-mobile-main .sidebar-main {
        left: 0;
    }
    .sidebar-main .version-info {
        color: #fff;
        padding: 0 0 20px 0;
    }
    .overflow-container {
        width: 100%;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .sidebar-overlay {
        background: rgba(0,0,0,0.4);
        position: fixed;
        z-index: 998;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
    .sidebar-mobile-main .sidebar-overlay {
        display: block;
    }
}